apiVersion: v1
kind: Secret
metadata:
  name: mysql-secrets
type: Opaque
stringData:
  MYSQL_DATABASE: bookDatabase
  MYSQL_USER: appuser
  MYSQL_PASSWORD: apppassword
  MYSQL_ROOT_PASSWORD: rootpassword
