replicaCount: 2

image:
  repository: tierappacr123.azurecr.io/3tier-frontend
  tag: latest
  pullPolicy: Always

containerPort: 80

readinessProbe:
  path: /
  port: 80
  initialDelaySeconds: 10
  periodSeconds: 10

livenessProbe:
  path: /
  port: 80
  initialDelaySeconds: 30
  periodSeconds: 20

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "300m"
    memory: "256Mi"

service:
  type: ClusterIP
  port: 80
  targetPort: 80
