name: Build & Push MyBookCollection Images

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: springCRUD
          MYSQL_DATABASE: bookDatabase
          MYSQL_USER: user1
          MYSQL_PASSWORD: pass1
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost -uuser1 -ppass1"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # - name: Build & Test Spring Boot
      #   working-directory: ./SpringCRUD
      #   run: mvn clean verify
      #   env:
      #     DATABASE_HOST: localhost
      #     DATABASE_PORT: 3306
      #     MYSQL_DATABASE: bookDatabase
      #     MYSQL_USER: user1
      #     MYSQL_PASSWORD: pass1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
           driver: docker-container

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./SpringCRUD
          push: true
          tags: |
            sarocky/3tier-backend:latest
            sarocky/3tier-backend:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build & Push Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: ./AngularCRUD
          push: true
          tags: |
            sarocky/3tier-frontend:latest
            sarocky/3tier-frontend:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
